.form {
    display: flex;
    flex-wrap: wrap;
    background: #edeaf1;
    max-width: 60vh;
    margin: 0 auto;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    top:5vh;
    padding: 30px 0 40px 0;
}

.form__input {
    outline: 0;
    width: 95%;
    border: 1px solid #5960c8;
    margin: 0 0 15px;
    padding: 13px;
    box-sizing: border-box;
    font-size: 14px;
}

.form__input--select {
    padding: 10px 0px;
}

.form__content {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.form__span > label {
    color: white;
    margin-left: 5px;
}

.form__button {
    position: absolute;
    bottom: 1rem;
    padding: 10px 20px;
    background: #5960c8;
    border: 2px solid whitesmoke;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.form__line {
    border: 1px solid #5960c8;
}

.fomr__title {
    width: 100%;
}

.form__span {
    width: 90%;
    transform: skewX(-5deg);
    display: block;
    background-color: #5960c8;
    margin-bottom: 2px;
}

.form__span--adress {
    background-color: #272fa0;
}

@media (min-width: 1025px) {
    .form__content {
        width: 49%;
    }
}
