table {
    width: 100%;
    min-width: 400px;
    border-collapse: collapse;
    font-size: 1em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #f1f1f1;
}

.table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}
.table__title {
    color: #dddddd;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    height: 5vh;
}

.table__contentnav {
    padding: 1rem;
    background-color: #303245;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table__contentnav span {
    color: #ffffff
}

.table thead {
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
}

.table thead tr {
    background-color: #08d;
    color: #ffffff;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 5px solid #08d;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}



