*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

.main {
  margin: 0 auto;
  max-width: 1024px;
}

.content__header {
  color: white;
  background-color: #15172b;
  height: 10%;
  padding: 15px;
}

.content__text {
  color: white;
  height: 10%;
  padding: 15px;
  font-size: 20px;
}