*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  
  background: #d0d4e9;
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

.main {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.employee {
  background-color: #d0d4e9;
  padding-bottom: 3rem;
}

.content__text {
  color: white;
  height: 10%;
  padding: 15px;
  font-size: 20px;
}